
        <div class="container-fluid" id="content" tabindex="-1">
            <!-- The main page content -->

            <div class="x_panel"> 
                <div class="x_content">
                    <div class="row-fluid">
                        <div class="col-md-6">
                            <ul class="nav nav-pills" style="text-align: center">
                                <li role="presentation" class="active">
                                    <a href="#">
                                        <label>8</label>
                                        <br/>
                                        <label>TODAY</label>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#">
                                        <label>9</label>
                                        <br/>
                                        <label>THU</label>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#">
                                        <label>10</label>
                                        <br/>
                                        <label>FRI</label>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#">
                                        <label>11</label>
                                        <br/>
                                        <label>SAT</label>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#">
                                        <label>11</label>
                                        <br/>
                                        <label>SUN</label>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#">
                                        <label>12</label>
                                        <br/>
                                        <label>MON</label>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">CURRENT CITY<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">ACCRA</a></li>
                                        <li><a href="#">KUMASSI</a></li>
                                        <li><a href="#">LOME</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="list-group-item-text" style="font-weight: 700">{{ movie.title }} </p>
                        </div>
                        <div class="col-md-8">
                            <ul class="nav navbar-left screen_item">
                                <li>
                                    <a href="#" class="screen_item_link" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-popover-content="#myPopover">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">09:30 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-popover-content="#myPopover">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">10:40 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-popover-content="#myPopover">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">11:50 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-popover-content="#myPopover">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">1:00 PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-popover-content="#myPopover">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">6:30 PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">7:40 PM</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-group-item" style="background: #EEEEEE">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="list-group-item-text" style="font-weight: 700">Cinema 2 </p>
                        </div>
                        <div class="col-md-8">
                            <ul class="nav navbar-left screen_item">
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">09:30 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">10:40 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">11:50 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">1:00 PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">6:30 PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">7:40 PM</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="list-group-item-text" style="font-weight: 700">Cinema 3 </p>
                        </div>
                        <div class="col-md-8">
                            <ul class="nav navbar-left screen_item">
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">09:30 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">10:40 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">11:50 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">1:00 PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">6:30 PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">7:40 PM</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-left screen_item">
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="#myPopover">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">09:30 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">10:40 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">11:50 AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">1:00 PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000">6:30 PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body"  data-placement="top" data-content="3D FCFA 1000 250 Seats Available">
                                        <span class="glyphicon glyphicon-eye-open" style="color: green" aria-hidden="true"></span>
                                        <span style="color: #000;padding: 5px;"> 7:40 PM</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="x_panel"> 
                <div class="x_title">
                    <h2>You may also like</h2>
                </div>
                <div class="x_content">
                    <div class="row-fluid">
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="http://placehold.it/150x150" alt="..." class="img-fluid img-rounded">
                                <h5>Title label</h5>
                                <h6>Language</h6>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="..." alt="..." class="img-fluid img-rounded">
                                <div class="caption">
                                    <h3>Title label</h3>
                                    <h4>Title label</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="..." alt="..." class="img-fluid img-rounded">
                                <div class="caption">
                                    <h3>Title label</h3>
                                    <h4>Title label</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="..." alt="..." class="img-fluid img-rounded">
                                <div class="caption">
                                    <h3>Title label</h3>
                                    <h4>Title label</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div style="margin: 0 auto;text-align: center;">
                            <a href="#" class="btn btn-default" style="padding: 10px 90px 10px 90px;font-weight: 600" role="button">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myPopover" class="hide" style="font-size: 10px;">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    PLATINUM 3D  
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    FCFA 1000
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    250 Seats Available
                </div>
            </div>
        </div>
        <!--popupover-->

        <!--dialog modal seats -->
        <!-- Modal -->
        <div class="modal modal-fullscreen fade" id="select-seat" style="z-index: 9999;width: 100%;" role="dialog">
            <div class="modal-dialog" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header modal-style" style="padding:35px 50px;background-color: #f9f9f9;
                         text-align: center;">
                        <h4 style="color: black ; font-weight: bold">Title movie | Language</h4>
                        <h5 style="color: #01579B; font-weight: bold">Time at place on Date</h5>
                        <button type="button" class="close" style="background-color: #5cb85c;
                                color:white !important;
                                text-align: center;
                                font-size: 30px;" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="wrapper">
                            <div class="container">
                                <div id="seat-map">
                                    <div class="front-indicator">Front</div>

                                </div>
                                <div class="booking-details">
                                    <h2>Booking Details</h2>

                                    <h3> Selected Seats (<span id="counter">0</span>):</h3>
                                    <ul id="selected-seats"></ul>

                                    Total: <b>$<span id="total">0</span></b>

                                    <button class="checkout-button">Checkout &raquo;</button>

                                    <div id="legend"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>