
       <script>
            $(document).ready(function () {
                $("#search-dropdown-btn").click(function () {
                    $("#rapidbook").modal();
                });
                $(".search-box-input").click(function () {
                    $("#rapidbook").modal();
                });
                $(".search-box-list").click(function () {
                    $("#rapidbook").modal();
                });
            });
        </script>

		<div class="modal modal-fullscreen fade" id="rapidbook" style="z-index: 9999;width: 100%;" role="dialog">
            <div class="modal-dialog" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header modal-style" style="padding:35px 50px;background-color: #f9f9f9;
                         color:white !important;
                         text-align: center;
                         font-size: 30px;">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <button type="button" class="close" style="background-color: #5cb85c;
                                color:white !important;
                                text-align: center;
                                font-size: 30px;" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="padding:40px 50px;">
                        <form role="form">
                            <div class="container">
                                <div class="btn-group" style="margin-bottom: 30px;" role="group">
                                    <button type="button" style="color: #000000" class="btn btn-default active">MOVIES</button>
                                    <button type="button" style="color: #000000" class="btn btn-default">CINEMAS</button>
                                </div>

                                <div class="movies-tab">
                                    <div class="row-fluid">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li class="item-show">
                                                    <div class="label-item">ENGLISH</div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li class="item-show">
                                                    <div class="label-item">EWE</div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <ul class="list-unstyled">
                                                <li class="item-show">
                                                    <div class="label-item">FRENCH</div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item-show">
                                                    <div class="item-show-container">
                                                        <div class="show-container">
                                                            <a class="show-link">4DX</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> 